
.body {
  background-color: black;
}

.header {
    background-color: blue;
    text-align: center;
}

.nav {
    background-color: black;
    color: orange;
    font-family: Aptos, Verdana, sans-serif;
    font-size: normal;
}

.ul {
    background-color: black;
    font-family: Aptos, Verdana, sans-serif;
    font-size: normal;
}

.main {
    background-color: black;
    color: orange;
}/*Main is parent. Section is child of main. P is child of section. So section and p elements should inherit properties of main.*/

.footer {
    background-color: blue;
    text-align: center;
    font-family: Aptos, Verdana, sans-serif;
    color: orange;
    font-weight: normal;
    font-size: normal;
}

.pre {
    font-family: Aptos, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Aptos, Verdana, sans-serif;
    font-weight: bold;
    color: orange;
}

p {
  font-family: Aptos, Verdana, sans-serif;
  font-weight: normal;
  color: orange;
}

/*unvisited link*/
a:link {
  color: #ffff00;
}

/*visited link*/
a:visited {
  color: #ffff00;
}

/*mouse over link*/
a:hover {
  color: white;
}
